<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>work with nomenclature</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>-->
    <!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>-->

</head>
<body>

<div class="container-fluid text-center">
    <h1 th:text="${item.id == null } ? 'Adding' : 'Editing'"></h1>
</div>


<div class="container">
    <form th:object="${item}"
          th:action="${item.getId() == null } ? '/nomenclature/add' : '/nomenclature/update'"
           method="post" class="form-horizontal">

        <input type="hidden" th:field="*{id}"/>
<!--        <input th:field="*{id}"/>-->

        <div style="margin-bottom: 25px" class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input id="name" th:field="*{name}" placeholder="name (*)" class="form-control"/>
        </div>

        <div class="form-group">
            <div class="col-sm-6 controls">
                <button type="submit" class="btn btn-primary d-flex align-items-center" th:text="${item.getId() != null } ? 'Save ...' : 'Add'"> Add</button>
                <a th:href="@{/nomenclature}" class="btn btn-warning ">Cancel</a>
            </div>
        </div>
    </form>
</div>
</body>
</html>