<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>work with Production info</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>-->
    <!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>-->
</head>
    <style>
    .error {
        color: red;
    }
    </style>

<body>
<div class="container-fluid text-center">
<!--    <h1>Welcome ;)</h1>-->
    <br>
    <a th:href="@{/start}" class="h2">main menu</a>
</div>

<div class="container-fluid text-center">
    <h1 th:text="${item.id == null } ? 'Новая запись' : 'Редактирование'"></h1>
</div>


<div class="container">
<!--    <form th:action="@{/productionInfo/add}"-->
    <form th:object="${item}"
          th:action="${item.getId() == null } ? '/productionInfo/add' : '/productionInfo/update'"
           method="post" class="form-horizontal">

        <input type="hidden" th:field="*{id}"/>

        <div style="margin-bottom: 25px" class="mb-3">
            <label for="nomenclature">Номенклатура</label>
            <select id="nomenclature" th:field="*{nomenclature}" class="form-control">
<!--                <option th:each="nomenclature : ${subItemList}" th:value="${nomenclature.id}" th:text="${nomenclature.getName()}"-->
<!--                th:selected="${item.getNomenclature()}"></option>-->
                <option th:each="nomenclature : ${subItemList}" th:value="${nomenclature.id}" th:text="${nomenclature.getName()}"></option>
            </select>
        </div>

        <div style="margin-bottom: 25px" class="mb-3">
            <label for="date" class="form-label">Дата</label>
            <input id="date" type="date" th:field="*{date}" placeholder="date (*)" class="form-control"/>
        </div>
        <div style="margin-bottom: 25px" class="mb-3">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-user"></i>
            </span>
            <label for="time">Время</label>
            <input id="time" type="time" th:field="*{time}" placeholder="time (*)" class="form-control"/>
        </div>
<!--        <div style="margin-bottom: 25px" class="mb-3">-->
<!--            <span class="input-group-addon">-->
<!--                <i class="glyphicon glyphicon-user"></i>-->
<!--            </span>-->
<!--            <label>Mode</label>-->
<!--            <input th:field="*{mode}" placeholder="mode (*)" class="form-control">-->
<!--        </div>-->
        <div style="margin-bottom: 25px" class="mb-3">
            <label for="lineType">Линия</label>
            <select id="lineType" th:field="*{typeOfLine}" class="form-control">
                <option th:each="typeOfLine : ${subItemList3}" th:value="${typeOfLine}" th:text="${typeOfLine}"></option>
            </select>
        </div>

        <div style="margin-bottom: 25px" class="mb-3">
            <label for="mode">Режим</label>
            <select id="mode" th:field="*{mode}" class="form-control">
                <option th:each="mode : ${subItemList2}" th:value="${mode}" th:text="${mode}"></option>
            </select>
        </div>


        <div style="margin-bottom: 25px" class="mb-3">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-user"></i>
            </span>
            <label>Счетчик на начало</label>
            <input th:field="*{counterBegin}" placeholder="Счетчик на начало" class="form-control">
        </div>
        <div style="margin-bottom: 25px" class="mb-3">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-user"></i>
            </span>
            <label>Счетчик на конец</label>
            <input id="counterEnd" th:field="*{counterEnd}" placeholder="Счетчик на конец" class="form-control">
<!--            <p  th:if="(*{counterEnd} <= *{counterBegin})" th:class="${item.counterEnd<=item.counterBegin}? error">-->
<!--                Invalid counterEnd</p>-->
            <span class="error" aria-live="polite"></span>
        </div>

        <div style="margin-bottom: 25px" class="mb-3">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-user"></i>
            </span>
            <label>Объем продукции переданной на склад</label>
            <input id="valueProductionPassed2Store" th:field="*{valueProductionPassed2Store}" placeholder="Объем продукции переданной на склад" class="form-control">
            <span id="valueProductionPassed2StoreError" class="error" aria-live="polite"></span>
        </div>
        <div style="margin-bottom: 25px" class="mb-3">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-user"></i>
            </span>
            <label>Объем продукции возвращенной в производство</label>
            <input th:field="*{valueProductionReturned2Manufacturing}" placeholder="Объем продукции возвращенной в производство" class="form-control">
        </div>

        <div style="margin-bottom: 25px" class="mb-3">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-user"></i>
            </span>
            <label>Объем потерь</label>
            <input th:field="*{valueLoss}" placeholder="Объем потерь" class="form-control">
        </div>

        <div style="margin-bottom: 25px" class="mb-3">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-user"></i>
            </span>
            <label>Комментарий</label>
            <input th:field="*{comment}" placeholder="комментарий" class="form-control">
        </div>
        <div style="margin-bottom: 25px" class="mb-3">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-user"></i>
            </span>
            <label>Ответственный</label>
            <input th:field="*{guilty}" placeholder="виноватый ;)" class="form-control">
        </div>



        <div class="form-group">
            <div class="col-sm-6 controls">
                <button type="submit" class="btn btn-primary d-flex align-items-center" th:text="${item.getId() != null } ? 'Save ...' : 'Add'"> Add</button>
                <a th:href="@{/productionInfo}" class="btn btn-warning ">Cancel</a>
            </div>
        </div>
    </form>
</div>


<script>
    // There are many ways to pick a DOM node; here we get the form itself and the email
    // input box, as well as the span element into which we will place the error message.
    // const form  = document.getElementsByTagName('form')[0];

    const counterBegin = document.getElementById('counterBegin');
    const counterEnd = document.getElementById('counterEnd');
     const counterEndError = document.querySelector('#counterEnd + span.error');

    const valueProductionPassed2Store = document.getElementById('valueProductionPassed2Store');
    // const valueProductionPassed2StoreError = document.querySelector('#valueProductionPassed2Store + span.error');
    const valueProductionPassed2StoreError = document.getElementById('valueProductionPassed2StoreError');


    counterEnd.addEventListener('input', function (event) {
        // Each time the user types something, we check if the
        // form fields are valid.

        if (parseInt(counterEnd.value) < parseInt(counterBegin.value)) {
            counterEndError.textContent = 'Кончные данные счетчика должны быть больше или равны начальным !';
            counterEndError.className = 'error active';
            //counterEnd.value = 0;
            // showError();
        } else {
            counterEndError.className = 'error unActive';
            counterEndError.textContent = '';
        }
    });

    valueProductionPassed2Store.addEventListener('input', function (event) {
        // Each time the user types something, we check if the
        // form fields are valid.


        if ( parseInt(valueProductionPassed2Store.value) > (parseInt(counterEnd.value) - parseInt(counterBegin.value) ) ) {
            valueProductionPassed2StoreError.textContent = 'Величина должна быть меньше или равна разнице конечных и нач. данных счетчика ! ('
                + (parseInt(counterEnd.value) - parseInt(counterBegin.value) )+' )';
            valueProductionPassed2StoreError.className = 'error active';
        } else {
            valueProductionPassed2StoreError.className = 'error unActive';
            valueProductionPassed2StoreError.textContent = '';
        }


        console.info(parseInt(valueProductionPassed2Store.value)  );

        // if(!email.validity.valid) {
        //     // Если поле email не валидно, отображаем соответствующее сообщение об ошибке
        //     showError();
        //     // Затем предотвращаем стандартное событие отправки формы
        //     event.preventDefault();
        // }
    });



    // function showError() {
    //     counterEndError.textContent = 'Error!';
    //
    //     // Set the styling appropriately
    //     counterEndError.className = 'error active';
    // }
</script>
</body>
</html>