<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Production Info</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>-->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>-->
</head>


<!--<style>-->
<!--    .table-fixed thead {-->
<!--        width: 97%;-->
<!--    }-->
<!--    .table-fixed tbody {-->
<!--        height: 530px;-->
<!--        overflow-y: auto;-->
<!--        width: 100%;-->
<!--    }-->
<!--    .table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {-->
<!--        display: block;-->
<!--    }-->
<!--    .table-fixed tbody td, .table-fixed thead > tr> th {-->
<!--        float: left;-->
<!--        border-bottom-width: 0;-->
<!--    }-->
<!--</style>-->

<body>
<!--<header th:insert="fragments/layouts.html :: myHeader1"> </header>-->

<div class="container-fluid text-center">
    <br>
    <a th:href="@{/start}" class="h2">main menu</a>
</div>

<!-- Navigation -->
<!--<div class="container-fluid text-center" >-->
<div class="container text-center">
        <div class="row">
            <div class="col-lg-10 mt-5 mb-5">

                <table class="table table-bordered" style="width: 100%">
                    <thead style="position: sticky; top: 0; background: white">
<!--                    <thead>-->
                    <tr>
                        <th>№</th>
                        <th>Дата</th>
                        <th>Время начала работы</th>
                        <th>Режим работы</th>
                        <th>Продукция</th>
                        <th>расходомер на начало (дал)</th>
                        <th>Расходомер на конец (дал)</th>
                        <th>Передано на склад (шт)</th>
                        <th>Возврат в производство (дал)</th>
                        <th>Потери (дал)</th>
                        <th>Комментарий</th>
                        <th>Виновантый</th>
                        <th>__________</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item, iterStat : ${listOfItems}"
                        th:style="${iterStat.odd} ? 'font-weight: bold;'">
                        <td th:text="${iterStat.index}+1" ></td>
                        <td th:text="${item.getDate()}"></td>
                        <td th:text="${item.getTime()}"></td>
                        <td th:text="${item.getMode()}"></td>
<!--                        <td th:text="${item.getNomenclature()}"></td>-->
                        <td th:text="${ item.getNomenclature() != null ? item.getNomenclature().getName() : ''}"></td>
                        <td th:text="${item.getCounterBegin()}"></td>
                        <td th:text="${item.getCounterEnd()}"></td>
                        <td th:text="${item.getValueProductionPassed2Store()}"></td>
                        <td th:text="${item.getValueProductionReturned2Manufacturing()}"></td>
                        <td th:text="${item.getValueLoss()}"></td>
                        <td th:text="${item.getComment()}"></td>
                        <td th:text="${item.getGuilty()}"></td>
                        <td>
                            <div class="dropend">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"
                                        id="dropdownMenuButton1">
                                    Action
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
<!--                                    <li><a class="dropdown-item" th:href="@{/productionInfo/addEditItem}">Add</a> </li>-->
                                    <li><a class="dropdown-item" th:href="@{/productionInfo/addEditItem(id=${item.getId})}">Edit</a> </li>
                                    <li><a class="dropdown-item" th:href="@{/productionInfo/delete(id=${item.getId})}">Delete</a> </li>
                                </ul>
                            </div>
<!--                            <a th:href="@{/productionInfo/addEditItem}">Add</a>-->
<!--                            <a th:href="@{/productionInfo/addEditItem(id=${item.getId})}">Edit</a>-->
<!--                            <a th:href="@{/productionInfo/delete(id=${item.getId})}">Delete</a>-->
<!--                            <a th:href="@{productionInfo/details(id=${item.getId})}">Details</a>-->
                        </td>
                    </tr>
                    </tbody>
                </table>

<!--                <button type="button" th:href="@{/students/addEditItem}" class="btn btn-primary d-flex align-items-center"> Add</button>-->
                <a th:href="@{/productionInfo/addEditItem}" class="btn btn-primary ">Add item</a>
                <br>
            </div>
        </div>
    </div>
<!--<span>ggggggggggggggggggggggggggggg</span>-->
<!--<div class="container">-->
<!--    <div class="dropdown">-->
<!--        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--            Dropdown-->
<!--        </button>-->
<!--        <ul class="dropdown-menu">-->
<!--            <li><button class="dropdown-item" type="button">Action</button></li>-->
<!--            <li><button class="dropdown-item" type="button">Another action</button></li>-->
<!--            <li><button class="dropdown-item" type="button">Something else here</button></li>-->
<!--        </ul>-->
<!--    </div>-->
<!--</div>-->

</body>
</html>