<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Start Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>

<!--<header th:insert="fragments/layouts.html :: myHeader1"> </header>-->
    <div class="container-fluid text-center">
        <h1>Welcome ;)</h1>
    </div>

<!--    <span th:text = "${'Hello mr. ' +name}"></span>-->
<!--    <div class="container-fluid text-center">-->
<!--        <h1>Welcome ;)</h1>-->
<!--        <a th:href="@{/groups}" class="header">Manage groups of students</a>-->
<!--        <br>-->
<!--        <br>-->
<!--        <a th:href="@{/subjects}" class="header">Manage subjects</a>-->
<!--        <br>-->
<!--        <br>-->
<!--        <a th:href="@{/students}" class="header">Manage students</a>-->
<!--    </div>-->


<!--    <footer th:insert="fragments/layouts.html :: footer"></footer>-->
</body>
</html>